<h1>Facture Form </h1>
<div mat-dialog-content>
    <form [formGroup]="FactureForm">

        <mat-form-field appearance="outline">
            <mat-label>Code</mat-label>
            <input formControlName="code" matInput placeholder="Ref">
        </mat-form-field> &nbsp;

        <mat-form-field appearance="outline">
            <mat-label>Service</mat-label>
            <input formControlName="service" matInput placeholder="Service">
        </mat-form-field> &nbsp;

        <mat-form-field appearance="outline">
            <mat-label>Quantité</mat-label>
            <input formControlName="quantite" matInput placeholder="Quantité">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Prix Unitaire HTVA</mat-label>
            <input formControlName="prix_uni_ht" matInput placeholder="Prix Unitaire Hors Taxes">
        </mat-form-field> &nbsp;

        <mat-form-field appearance="outline">
            <mat-label>Total HTVA</mat-label>
            <input formControlName="prix_ht" matInput placeholder="Total Prix HT">
        </mat-form-field> &nbsp;

        <mat-form-field appearance="outline">
            <mat-label>TVA</mat-label>
            <input formControlName="tva" matInput placeholder="TVA appliquée">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Total TTC</mat-label>
            <input formControlName="total" matInput placeholder="Prix Total TTC">
        </mat-form-field> &nbsp;

        <div mat-dialog-action [align]="'end'">
            <button mat-raised-button mat-dialog-close>Close</button>
            <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addLigneFacture()">{{actionBtn}}</button>
        </div>
        &nbsp;
    </form>
</div>