<h1>Nouvelle facture</h1>
<div mat-dialog-content>
  <form [formGroup]="newFactureForm">
    <mat-form-field appearance="outline">
      <mat-label>Reference facture</mat-label>
      <input formControlName="codeFacture" matInput placeholder="Ref" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        [matDatepicker]="picker"
        matInput
        formControlName="dateFacture"
      />

      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type facture</mat-label>
      <mat-select formControlName="typeFacture" placeholder="Type facture">
        <mat-option [value]="TypeFacture.FACTURE_CLIENT"
          >Facture client</mat-option
        >
        <mat-option [value]="TypeFacture.FACTURE_FOURNISSEUR"
          >Facture fournisseur</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Client ou Fournisseur</mat-label>
      <input
        formControlName="idClient"
        matInput
        type="text"
        [matAutocomplete]="auto"
        placeholder="Client/Fournisseur"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
       <ng-container *ngIf="newFactureForm.controls['typeFacture'].value === TypeFacture.FACTURE_CLIENT">
        <mat-option
          *ngFor="let client of filteredClients$ | async"
          [value]="client.nom"
        >
          {{ client.nom }}
        </mat-option>
       </ng-container>
        <ng-container *ngIf="newFactureForm.controls['typeFacture'].value === TypeFacture.FACTURE_FOURNISSEUR">
          <mat-option
            *ngFor="let fournisseur of filteredFournisseurs$ | async"
            [value]="fournisseur.nom"
          >
            {{ fournisseur.nom }}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-raised-button mat-dialog-close>Close</button>
      <button mat-raised-button color="primary" (click)="onSubmit()">OK</button>
    </div>
    &nbsp;
  </form>
</div>
