<div #pdfexport>
    <mat-card class="dashboard">
        <form #searchForm="ngForm" (ngSubmit)="loadFactureByNumber(searchForm.value.n)">
            <input name="n" type="text" ngModel matInput>
        </form>
        <button (click)="loadFactureByNumber(searchForm.value.n)" class="mat-elevation-z2" mat-stroked-button
            color="primary">Charger Facture</button>
        <button (click)="newFacture()" class="mat-elevation-z2" mat-stroked-button color="primary">Ajouter Nouvelle
            Facture</button>
    </mat-card>
   
        <div *ngIf="facture$ | async as facture">
            <app-facture-view (uploadedFacture)="saveFacture($event)" [facture]="facture"></app-facture-view>
        </div>
  
</div>