<div class="container" #pdfexport>
  <div class="facture-info" [formGroup]="factureForm">
    <mat-card-content class="entete">
      <mat-card class="description">
        <mat-card-title> Adresse:</mat-card-title>
        <mat-card-subtitle
        >Immeuble CNRPS Tataouine Nord 3263 Tataouine
        </mat-card-subtitle>
        <mat-card-title> UI:</mat-card-title>
        <mat-card-subtitle>1599585/S</mat-card-subtitle>
        <mat-card-title> RIB:</mat-card-title>
        <mat-card-subtitle>BH-Bank - 14208208101700429341</mat-card-subtitle>
      </mat-card>
      <mat-card class="contact">
        <mat-card-title> Email :</mat-card-title>
        <mat-card-subtitle>Smite.service@gmail.com</mat-card-subtitle>
        <mat-card-title> Tel/ Fax:</mat-card-title>
        <mat-card-subtitle> 00216 75 870 889</mat-card-subtitle>
        <mat-card-title> GSM:</mat-card-title>
        <mat-card-subtitle> 00216 95 225 630</mat-card-subtitle>
      </mat-card>
    </mat-card-content>
    <div class="facture-metadata">
      <mat-card>
        <mat-card-title>Date :</mat-card-title>
        <mat-form-field appearance="fill">
          <mat-label>Choisir une date</mat-label>

          <input
            matInput
            [matDatepicker]="picker"
            formControlName="dateFacture"
          />

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-card>

      <mat-card>
        <mat-card-title>Reference Facture :</mat-card-title>
        <mat-form-field>
          <mat-label>Référence</mat-label>
          <input matInput formControlName="codeFacture"/>
        </mat-form-field>
      </mat-card>

      <mat-card>
        <mat-card-title>Type Facture :</mat-card-title>
        <mat-form-field>
          <mat-label>Type</mat-label>
          <input matInput formControlName="typeFacture"/>
        </mat-form-field>
      </mat-card>

      <mat-card>
        <mat-card-title>Entité:</mat-card-title>
        <mat-form-field>
          <mat-label>Client ou fournisseur</mat-label>
          <input matInput formControlName="idClient"/>
        </mat-form-field>
      </mat-card>
    </div>
  </div>
  <div [formGroup]="factureForm">
    <div class="add-button" data-html2canvas-ignore>
      <button
        class="mat-elevation-z2"
        mat-stroked-button
        (click)="addLigneFacture()"
        color="primary"
      >
        Ajouter ligne de Facture
      </button>
    </div>

    <table
      mat-table
      matSort
      class="table-facture"
      [dataSource]="dataSource"
      formArrayName="ligneFactures"
    >
      <caption>
        Tableau liste des services et des produits facturés
      </caption>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; let i = index; columns: displayedColumns"
      ></tr>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
        <td
          mat-cell
          *matCellDef="let row; let index = index"
          [formGroupName]="index"
        >
          <mat-form-field>
          <input matInput type="text" formControlName="code"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="service">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td
          mat-cell
          *matCellDef="let row; let index = index"
          [formGroupName]="index"
        >
          <mat-form-field>
          <input matInput type="text" formControlName="service"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="quantite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>QTE</th>
        <td
          mat-cell
          *matCellDef="let row; let index = index"
          [formGroupName]="index"
        >
          <mat-form-field>
          <input matInput type="text" formControlName="quantite"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="prix_uni_ht">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Prix uni HTVA
        </th>
        <td
          mat-cell
          *matCellDef="let row; let index = index"
          [formGroupName]="index"
        >
          <mat-form-field>
          <input matInput type="text" formControlName="prix_uni_ht"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="prix_ht">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Prix Total HTVA
        </th>
        <td
          mat-cell
          *matCellDef="let row; let index = index"
          [formGroupName]="index"
        >
          <mat-form-field>
          <input matInput type="text" formControlName="prix_ht"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="tva">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>TVA (19 %)</th>
        <td
          mat-cell
          *matCellDef="let row; let index = index"
          [formGroupName]="index"
        >
          <mat-form-field>
          <input matInput type="text" formControlName="tva"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total TTC</th>
        <td
          mat-cell
          *matCellDef="let row; let index = index"
          [formGroupName]="index"
        >
          <mat-form-field>
            <input matInput type="text" formControlName="total"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th
          data-html2canvas-ignore
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Action
        </th>
        <td
          data-html2canvas-ignore
          mat-cell
          *matCellDef="let row; let index = index"
          [formGroupName]="index"
        >
          <button
            mat-icon-button
            (click)="editLigneFacture(index, row.value)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="removeLigneFacture(index)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    </table>
  </div>
  <div class="facture-number">
    <mat-card class="sommes-totales">
      <mat-card-title> Total HT:</mat-card-title>
      <mat-form-field>
        <mat-label>Total HT</mat-label>
        <input matInput/>
      </mat-form-field>
      <mat-card-title> Taxes:</mat-card-title>
      <mat-form-field>
        <mat-label>Taxes: (TVA,RG,RS...)</mat-label>
        <input matInput/>
      </mat-form-field>
      <mat-card-title> Total TTC:</mat-card-title>
      <mat-form-field>
        <mat-label>Total TTC</mat-label>
        <input matInput/>
      </mat-form-field>
    </mat-card>

    <mat-card class="somme-lettre">
      <mat-form-field>
        <mat-label>
          Arrêtée la présente facture à la somme de (TTC):
        </mat-label>
        <input type="text" matInput/>
      </mat-form-field>
    </mat-card>
  </div>
  <mat-card class="signature">
  <mat-card-title>Signature</mat-card-title>
  <mat-card-content> <b> Gérant SMITE.Serv </b></mat-card-content>
  </mat-card>
  <mat-card-actions data-html2canvas-ignore class="print-button">
    <button
      class="mat-elevation-z2"
      (click)="generatePdf()"
      mat-raised-button
      color="primary"
    >
      Imprimer
    </button>
    <button
      class="mat-elevation-z2"
      (click)="onSubmit()"
      mat-raised-button
      color="primary"
    >
      Sauvegarder
    </button>
  </mat-card-actions>

</div>
