// table {
//   width: 100%;
//   margin: 0 auto;
// }

.mat-form-field {
  padding: 0;
  margin: 0;
  width: 95%;
  height: 50%;
}


.container {
  //display: flex;
  max-width: 1200px;
  margin: 0px auto;
}
.facture-info {
  display: block;
  margin: 25px auto;
}
.entete {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.description {
  justify-content: left;
  margin: auto;
}

.contact {
  justify-content: right;
  margin: auto;
}


.facture-metadata{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.table-facture {
  table-layout: fixed;
  width: 95%;
  th {
    font-weight: bold;
    font-style: oblique;
    color: black;
  }
}
//.mat-footer-row,
//.mat-header-row,
//.mat-row {
//  min-width: 10%;
//}


.mat-column-code {
  border-right: 1px solid currentColor;
  text-align: center;
  padding-right: 10px;
}

.mat-column-service {
  padding-left: 10px;
}

.mat-column-action {
  border-left: 1px solid currentColor;
  padding-left: 10px;
}

.add-button {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}

.print-button {
  display: flex;
  justify-content: flex-end;
}

.sommes-totales {
  margin-left: 70%;
  margin-top: 20px;
}

.signature {
  margin-top: 60px;
  margin-left: 70%;
  width: 30%;
}

.somme-lettre {
  margin-top: 10px;
}
