<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/stock"
      ><span style="margin-left: 8px">SMITE-Services</span></a
    >
    <span class="example-spacer"></span>
    <nav>
      <ul class="menu">
        <li>
          Client-Fournisseur
          <ul class="sub-menu">
            <li>
              <a mat-button routerLink="/fournisseur" routerLinkActive="active">Gestion Fournisseurs</a>
            </li>
            <li>
              <a mat-button routerLink="/client" routerLinkActive="active">Gestion Clients</a>
            </li>
          </ul>
        </li>
        <li>
          Stock
          <ul class="sub-menu">
            <li>
              <a mat-button routerLink="/dashboard" routerLinkActive="active"
                >Stock Entrée</a
              >
            </li>
            <li>
              <a mat-button routerLink="/dashboard1" routerLinkActive="active"
                >Stock Sortie</a
              >
            </li>
          </ul>
        </li>
        <li>
          Facture
          <ul class="sub-menu">
            <li>
              <a mat-button routerLink="factureloader" routerLinkActive="active"
                >Facture-1</a
              >
            </li>
            <li>
              <a mat-button routerLink="factureloader1" routerLinkActive="active"
                >Facture-2</a
              >
            </li>
          </ul>
        </li>
        <li>
          Charge
          <ul class="sub-menu">
            <li>
              <a mat-button routerLink="/charge" routerLinkActive="active"
                >Charge Divers</a
              >
            </li>
            <li>
              <a mat-button routerLink="/charge1" routerLinkActive="active"
                >Cotisations Sociales</a
              >
            </li>
            <li>
              <a mat-button routerLink="/charge2" routerLinkActive="active"
                >Factures d'achat</a
              >
            </li>
            <li>
              <a mat-button routerLink="/charge3" routerLinkActive="active"
                >Remuneration Personnel</a
              >
            </li>
            <li>
              <a mat-button routerLink="/charge4" routerLinkActive="active"
                >Impots</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<div class="title-logo">
  <img
    width="280"
    alt="SmiteServ"
    src="../assets/Sans_titre-removebg-preview.png"
  />
</div>
<router-outlet></router-outlet>

<!--<div class="toolbar" role="banner">
  <img
    width="60"
    alt="SmiteServ"
    src="../assets/Sans_titre-removebg-preview.png" />
  <span>Bienvenue à Smite Services</span>
  <div class="spacer"></div>
   
</div>

<div class="content" role="main">

  <header>
    <img class="logo" >
    <nav>
      <ul class="nav__links">
        <li><a routerLink="/stock">Stock</a></li>
        <li><a routerLink="/charge">charges</a></li>
        <li><a routerLink="/facture">Factures</a></li>
        <li><button>Déconnexion</button></li>
        <router-outlet></router-outlet>
      </ul>
      
    </nav>
  </header>
</div>-->
