<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span style="margin-left: 8px;" >SMITE-Services</span>
  <span class="example-spacer"></span>
<nav>
  <a mat-button routerLink="/dashboard" routerLinkActive="active">STOCK</a>
  <a mat-button routerLink="/facture" routerLinkActive="active">FACTURE</a>
  <a mat-button routerLink="/charge" routerLinkActive="active">CHARGE</a>
</nav>
</mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>


<!--<div class="toolbar" role="banner">
  <img
    width="60"
    alt="SmiteServ"
    src="../assets/Sans_titre-removebg-preview.png" />
  <span>Bienvenue à Smite Services</span>
  <div class="spacer"></div>
   
</div>

<div class="content" role="main">

  <header>
    <img class="logo" >
    <nav>
      <ul class="nav__links">
        <li><a routerLink="/stock">Stock</a></li>
        <li><a routerLink="/charge">charges</a></li>
        <li><a routerLink="/facture">Factures</a></li>
        <li><button>Déconnexion</button></li>
        <router-outlet></router-outlet>
      </ul>
      
    </nav>
  </header>
</div>-->
