<h1>Impots Form </h1>
<div mat-dialog-content>
<form [formGroup]="ChargeForm">    

    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Déclaration</mat-label>
        <input formControlName="declaration" matInput placeholder="Déclaration">      
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline">
        <mat-label>Pénalité</mat-label>
        <input formControlName="penalite" matInput placeholder="Pénalité">      
    </mat-form-field>
    <br/> 
    <mat-form-field appearance="outline">
        <mat-label>Montant</mat-label>
        <input formControlName="montant" matInput placeholder="Montant">
    </mat-form-field>&nbsp;

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button mat-dialog-close>Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addCharge()">{{actionBtn}}</button>

</div> &nbsp;

</form>
</div>
