<h1>Facture d'achat Form </h1>
<div mat-dialog-content>
<form [formGroup]="ChargeForm">    

    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Désignation</mat-label>
        <input formControlName="designation" matInput placeholder="Désignation">      
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline">
        <mat-label>Fournisseur</mat-label>
        <input formControlName="fournisseur" matInput placeholder="Fournisseur">
    </mat-form-field>
    <br/>   
    <mat-form-field appearance="outline">
        <mat-label>Montant</mat-label>
        <input formControlName="montant" matInput placeholder="Montant">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="outline">
        <mat-label>Mode de paiement</mat-label>
        <input formControlName="modepaiement" matInput placeholder="Mode de paiement">
    </mat-form-field>
    <br/>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button mat-dialog-close>Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addCharge()">{{actionBtn}}</button>

</div> &nbsp;

</form>
</div>
